body {
  background: linear-gradient(#ccc, #fff);
  font: 14px sans-serif;
  padding: 20px;
}
.letter {
  background-color: #997c49;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
  margin: 26px auto 0;
  max-width: 1000px;
  min-height: 300px;
  padding: 24px;
  position: relative;
  top:30px;
  width: 80%;
}
.letter:before, .letter:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.letter:before {
  background: #99845a;
  box-shadow: 0 0 8px rgba(0,0,0,0.8);
  left: -5px;
  top: 4px;
  transform: rotate(-3.8deg);
}
.letter:after {
  background: #997631;
  box-shadow: 0 0 3px rgba(0,0,0,0.8);
  right: -3px;
  top: 1px;
  transform: rotate(2.4deg);
}