.containerImg{
	  position: relative;
	  width: 33.33%;
	  float:left;
}

.image{
	  display: block;
	  height: auto;
}

.overlay {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  height: 100%;
	  width: 100%;
	  opacity: 0;
	  transition: .5s ease;
	  background-color: #008CBA;
}

.containerImg:hover .overlay {
	  opacity: 0.7;
}

.text {
	  color: white;
	  text-align: center;
	  font-size: 20px;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
