body {
	background: #E6E6E6;
}

#operators, #keysAndDels {
	height: 150px;
}

#titleDiv {
	height: 30px;
	background: #4682B4;
	border-radius: 5px;
	padding: 5px;
	font-family: Shift,sans-serif;
	font-size: 15px;
	color: #FFFFFF;
}

#opPane, #kadPane {
	height: 110px;
	overflow: auto;
	background: #FFFFFF;
	border-radius: 5px;
}

#opPane img, #kadPane img, #mainDatatypes img, #fxnDatatypes img {
	height: 40px;
	width: 40px;
	margin: 5px;
	display: inline;
}

#mainVarDecs, #fxnVarDecs {
	height: 200px;
}

#mainDatatypes, #fxnDatatypes {
	height: 45px;
	overflow: auto;
	background: #FFFFFF;
}

#mainDatatypes img, #fxnDatatypes img {
	height: 25px;
	width: 25px;
	float: left;
}

#mainVarPane, #fxnVarPane {
	height: 110px;
	max-height: 110px;
	overflow: auto;
	border-style: groove;
	border-color: #2F4357;
	border-radius: 5px;
	background: #F0FFFF;
}

#mainVarPane div, #fxnVarPane div {
	height: 100px;
	width: 100px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	float: left;
	display: inline;
}

#mainVarPane p, #fxnVarPane p {
	text-align: center;
	height: 15px;
}

#mainVarPane img, #fxnVarPane img {
	height: 40px;
	width: 40px;
	margin: auto;
/**	float: left;**/
}

#mainVarPane span, #fxnVarPane span  {
	background-color: red;
	cursor: pointer;
	float: right;
}

.vartext {
	height: 20px;
	width: 100%;
	display: block;
	margin-top: 5px;
}

#dndCodingPanes {
	height: 500px;
}

#dndMainCodeArea, #dndFxnCodeArea {
	height: 470px;
	border-style: solid;
	border-color: #2F4357;
	background: #FFFFFF;
	overflow: auto;
	border-radius: 5px;
}

#dndMainCodeArea img, #dndFxnCodeArea img {
	height: 50px;
	width: 50px;
}

#viewAndReset {
	height: 100px;
}

#runToybox {
	height: 100px;
}


#textEditor {
	height: 400px;
	width: 95%;
}

#result {
	height: 250px;
	padding: 5px;
	background: #000000;
	border-style: solid;
	border-color: #B3B3B3;
	border-width: 2px;
	color: #FFFF33;
	font-family: Consolas,monaco,monospace;
}

/** GRIDSTER demo.css **/

.gridster * {
  margin:0;
  padding:0;
}

ul {
  list-style-type: none;
}




/*/
 gridster
/*/

.gridster ul {
    background-color: #EFEFEF;
}

.gridster li {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
}


.gridster {
    margin: 0 auto;
    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs-w {
    background: #EFEFEF;
    cursor: pointer;
}

.gridster .player {
    background: #FFFFFF;
}


.gridster .preview-holder {
    border: none!important;
    background: red!important;
}


/** Lined Text area **/

#query_input {
	height: 380px;
	width: 98%;
}

.linedwrap {
	border: 1px solid black;
	padding: 2px;
	margin-left: 2%;
	background-color: black;
	clear:auto;
}

.linedtextarea {
	padding: 0px;
	margin: 0px;
}

.linedtextarea textarea, .linedwrap .codelines .lineno {
	font-size: 10pt;
	font-family: monospace;
	line-height: normal !important;
}

.linedtextarea textarea {
	padding-right:0.3em;
	padding-top:0.3em;
	border: 0;
}

.linedwrap .lines {
	margin-top: 0px;
	width: 50px;
	float: left;
	overflow: hidden;
	border-right: 1px solid #c0c0c0;
	margin-right: 10px;
}

.linedwrap .codelines {
	padding-top: 5px;
}

.linedwrap .codelines .lineno {
	color:#AAAAAA;
	padding-right: 0.5em;
	padding-top: 0.0em;
	text-align: right;
	white-space: nowrap;
}

.linedwrap .codelines .lineselect {
	color: red;
}


